/* Background video */

#background-video {
   position: fixed;
   right: 0;
   bottom: 0;
   min-width: 105%;
   min-height: 100%;
   transform: scale(1.1);
   z-index: -5;
   filter: blur(1rem);

   transition: filter 1.5s;
}

/* Fullscren alert */

#fullscreen-alert {
   height: 8vh;
   width: 25vw;
   backdrop-filter: blur(1rem);
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 2px 2px 50px black;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   transition: opacity 1.5s;
}

#fullscreen-alert h1 {
   color: white;
   font-size: 1.4vw;
   text-shadow: 1px 1px 15px black;

   animation: fullscreen-h1 1s running infinite alternate;
}

@keyframes fullscreen-h1 {
   from {
      opacity: 50%;
   }
   to {
      opacity: 100%;
   }
}

/* Menu */

#menu {
   height: 50vh;
   width: 25vw;
   backdrop-filter: blur(1.5rem);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   box-shadow: 0px 0px 50px black;
   border-radius: 10px;
   opacity: 0%;

   transition: opacity 1.5s;
}

#menu h1 {
   color: white;
   font-size: 2.5vw;
   text-align: center;
   text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}

.menu-buttons {
   display: flex;
   height: 5vh;
   width: 10vw;
   background: transparent;
   color: white;
   font-family: Century Gothic;
   font-size: 1.3vw;
   font-weight: bold;
   border: 3px solid white;
   align-items: center;
   justify-content: center;
   margin-top: 4vh;
   cursor: pointer;
   border-radius: 0.7vw;
   left: 0; 
   right: 0; 
   margin-left: auto; 
   margin-right: auto; 
   text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em;
   box-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em inset, 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em;

   transition: 0.3s;
}

.menu-buttons:hover {
   background: rgba(255, 0, 0, 0.4);
}