body {
  font-family: Comic Sans MS;
  background: url(/Assets/wieżaTło.png);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  user-select: none;
}

h1 {
  margin: 0;
  color: white;
  text-shadow: 3px 3px 5px black;
}

/* 🔽 POZIOM GRACZA 🔽 */

#poziomGracza {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  height: 13vh;
  width: 13vh;
  text-align: center;
  box-shadow: 5px 0 10px -2px black;
}

#poziom {
  text-align: center;
  font-size: 2.5vw;
  margin-top: 2vh;
}

#xp {
  height: 2vh;
  width: 6vw;
  border-radius: 10%; 
  box-shadow: 2px 2px 10px black;
  margin-top: 1vh;
}
#xp::-webkit-progress-bar {
  background-color: rgb(203, 203, 203);
}
#xp::-webkit-progress-value {
  background-color: rgb(0, 119, 255);

}

#lvlTekst {
  position: absolute;
  color: rgb(0, 119, 255);
  left: 0;
  right: 0;
}

@media (max-width: 1920px){
  #lvlTekst {
    font-size: 1.2vw;
  }
}

/* 🔽 PROFIL GRACZA 🔽 */

#profilGracza {
  height: 5vh;
  width: 13vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  margin-bottom: 8px;
  box-shadow: 5px 5px 10px black;
}

#nazwaUżytkownika {
  font-size: 1.4vw;
  text-align: center;
  margin-top: 0.5vh;
  margin-left: 3vw;
}

#nazwaUżytkownika:hover {
  color:rgb(0, 119, 255);
  cursor: pointer;
}

#rozwiń {
  position: absolute;
  font-size: 1.5vw;
  border-right: 0.2vw solid white;
  padding-right: 5%;
  padding-left: 5%;
  line-height: 3vh;
  transform: translateY(-2vw);
  padding-bottom: 1vw;
  margin-top: 3.9vh;
}

@media (max-width: 1920px){
  #rozwiń {
    line-height: 2.8vh;
    transform: translateY(-1.9vw);
  }
}

#rozwiń:hover {
  color: rgb(0, 119, 255);
  cursor: pointer;
}

/* 🔽 EKWIPUNEK 🔽 */

#ekwipunek {
  background: rgba(0, 0, 0, 0.5);
  height: 60vh;
  width: 13vw;
  position: fixed;
  bottom: 0;
  margin-bottom: 5.9vh;
  box-shadow: 5px 0 10px -1px black;
  visibility: hidden;
}

#ekwipunek hr { 
  height: 0.2vw;
  background: white;
  border: none;
  transform: translateY(59.5vh);
}

@media (max-width: 1920px){
  #ekwipunek hr {
    transform: translateY(59vh)
  }
}

#ilośćZłota {
  position: absolute;
  transform: translateX(1.3vw);
  display: block;
  height: 4vh;
  width: 10vw;
}

#złoto {
  text-align: center;
  transform: translate(1.6vw,-0.6vh);
}

#ilośćRyb {
  position: absolute;
  transform: translateX(1.3vw);
  display: block;
  height: 4vh;
  width: 10vw;
}

#ryby {
  text-align: center;
  transform: translate(1.6vw,-0.6vh);
}

#ilośćDrewna {
  position: absolute;
  transform: translateX(1.3vw);
  display: block;
  height: 4vh;
  width: 10vw;
}

#drewno {
  text-align: center;
  transform: translate(1.6vw,-0.6vh);
}


/* 🔽 POWRÓT DO MAPY 🔽 */

#mapa {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  height: 13vh;
  width: 13vh;
  text-align: center;
  box-shadow: 5px 0 10px -2px black;
  bottom: 0;
  right: 0;
  margin-bottom: 8px;
  margin-right: 8px;
  transition: 0.3s;
}

#mapa:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s;
}

#mapaIkona {
  height: 3vw;
  margin-top: 2vh;
}

/* 🔽 SKLEP WIEŻA 🔽 */

.przyciskiWieża {
  position: absolute;
  height: 6vh;
  width: 12vw;
  font-size: 1vw;
  font-family: Comic Sans MS;
  background:rgb(0, 119, 255);
  color: white;
  border-radius: 1em;
  box-shadow: 3px 3px 5px black;
  text-shadow: 3px 3px 5px black;
  transition: 0.3s;
}

.przyciskiWieża:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
}

.cenaTekst {
  color: gold;
  font-size: 1vw;
}

#kupSchematMaskaGazowa {
  margin-left: 27.5vw;
  margin-top: 34vh;
  visibility: hidden;
}

#schematMaskaGazowa:hover ~ #infoSchematMaskaGazowa {
  opacity: 100%;
}

#infoSchematMaskaGazowa {
  text-align: center;
  opacity: 0%;
  font-size: 1.5vw;
}