body {
  font-family: Comic Sans MS;
  background: url(Assets/map.png);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  user-select: none;
}

h1 {
  margin: 0;
  color: white;
  text-shadow: 3px 3px 5px black;
}

/* 🔽 POZIOM GRACZA 🔽 */

#poziomGracza {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  height: 13vh;
  width: 13vh;
  text-align: center;
  box-shadow: 5px 0 10px -2px black;
}

#poziom {
  text-align: center;
  font-size: 2.5vw;
  margin-top: 2vh;
}

#xp {
  height: 2vh;
  width: 6vw;
  border-radius: 10%; 
  box-shadow: 2px 2px 10px black;
  margin-top: 1vh;
}
#xp::-webkit-progress-bar {
  background-color: rgb(203, 203, 203);
}
#xp::-webkit-progress-value {
  background-color: rgb(0, 119, 255);

}

#lvlTekst {
  position: absolute;
  color: rgb(0, 119, 255);
  left: 0;
  right: 0;
}

@media (max-width: 1920px){
  #lvlTekst {
    font-size: 1.2vw;
  }
}

/* 🔽 USTAWIENIA 🔽 */

#ustawieniaPrzycisk {
  height: 5vh;
  width: 5vh;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: absolute;
  margin-bottom: 8px;
  margin-left: 14vw;
  box-shadow: 3px 3px 5px black;
  transition: 0.3s;
}

#ustawieniaPrzycisk:hover {
  transform: scale(1.05);
  transition: 0.3s;
  cursor: pointer;
}

#ustawienia {
  height: 40vh;
  width: 20vw;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  visibility: hidden;
}

.ustawieniaPrzyciski {
  height: 4vh;
  width: 4vw;
  font-family: Comic Sans MS;
  text-shadow: 3px 3px 5px black;
  background: green;
  color: white;
  font-size: 1vw;
  box-shadow: 3px 3px 5px black;
  margin-left: 2vw;
  transform: translateY(-2vh);
  transition: visibility 0s linear;
}

.ustawieniaPrzyciski:hover {
  cursor: pointer;
  box-shadow: 3px 3px 5px royalblue;
  height: 4.3vh;
  width: 4.3vw;
  transition: 0.2s;
}

/* 🔽 PROFIL GRACZA 🔽 */

#profilGracza {
  height: 5vh;
  width: 13vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  margin-bottom: 8px;
  box-shadow: 5px 5px 10px black;
}

#nazwaUżytkownika {
  font-size: 1.4vw;
  text-align: center;
  margin-top: 0.5vh;
  margin-left: 3vw;
}

#nazwaUżytkownika:hover {
  color:rgb(0, 119, 255);
  cursor: pointer;
}

#rozwiń {
  position: absolute;
  font-size: 1.5vw;
  border-right: 0.2vw solid white;
  padding-right: 5%;
  padding-left: 5%;
  line-height: 3vh;
  transform: translateY(-2vw);
  padding-bottom: 1vw;
  margin-top: 3.9vh;
}

@media (max-width: 1920px){
  #rozwiń {
    line-height: 2.8vh;
    transform: translateY(-1.9vw);
  }
}

#rozwiń:hover {
  color: rgb(0, 119, 255);
  cursor: pointer;
}

/* 🔽 EKWIPUNEK 🔽 */

#ekwipunek {
  background: rgba(0, 0, 0, 0.5);
  height: 12vh;
  width: 13vw;
  position: fixed;
  bottom: 0;
  margin-bottom: 5.9vh;
  box-shadow: 5px 0 10px -1px black;
  visibility: hidden;
}

@media (max-width: 1920px){
  #ekwipunek hr {
    transform: translateY(59vh)
  }
}

#plecak:hover {
  cursor: pointer;
}

#plecakDiv {
  height: 40vh;
  width: 30vw;
  background:rgba(0, 0, 0, 0.7);
  box-shadow: 3px 3px 5px black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  visibility: hidden;
}

#plecakTekst {
  position: relative;
  color: royalblue;
  text-align: center;
  margin-top: 28vh;
  font-size: 1.5vw;
}

.plecakIkony {
  height: 5vh;
}

.zasobyIkony {
  height: 5vh;
  width: 5vh;
  background: royalblue;
  opacity: 0.8;
  margin-left: 8px;
  box-shadow: 3px 3px 5px black;
  position: absolute;
}

.zasobyIkony:hover {
  background: white;
}

/* 🔽 ULEPSZENIA 🔽 */

#ulepszeniaPrzycisk {
  height: 13vh;
  width: 13vh;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 0;
  margin-right: 8px;
  box-shadow: 5px 5px 10px black;
  transition: 0.3s;
}

#ulepszeniaPrzycisk:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s;
}

/* 🔽 SCHEMATY 🔽 */

#schematyPrzycisk {
  height: 13vh;
  width: 13vh;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 8px;
  margin-right: 8px;
  box-shadow: 5px 5px 10px black;
  transition: 0.3s;
}

#schematyPrzycisk:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s;
}

/* 🔽 FARMA ARKA 🔽 */

#arek {
  height: 7vh;
  transform: translate(31vw, 53vh);
  position: absolute;
  transition: 0.3s;
}

#arek:hover {
  cursor: pointer;
  height: 7.5vh;
  transition: 0.3s;
}

/* 🔽 SKLEP KONRADA 🔽 */

#konrad {
  height: 7.5vh;
  position: absolute;
  transition: 0.3s;
  transform: translate(41vw, 51vh);
}

#konrad:hover {
  cursor: pointer;
  height: 8vh;
  transition: 0.3s;
}

/* 🔽 LAS KONRADA 🔽 */

#konradLas {
  height: 7vh;
  position: absolute;
  transition: 0.3s;
  transform: translate(65vw, 49vh);
}

#konradLas:hover {
  cursor: pointer;
  height: 7.5vh;
  transition: 0.3s;
}

/* 🔽 PIECZARA STACHA 🔽 */

#stach {
  height: 6vh;
  position: absolute;
  transition: 0.3s;
  transform: translate(59vw, 74vh);
}

#stach:hover {
  cursor: pointer;
  height: 6.5vh;
  transition: 0.3s;
}

/* 🔽 MOST CZARODZIEJA 🔽 */

#mostCzarodzieja {
  height: 7vh;
  position: absolute;
  margin-top: 82vh;
  margin-left: 25vw;
  transform: rotate(-20deg);
  visibility: hidden;
}

#budowaMostCzarodzieja {
  height: 5vh;
  position: absolute;
  margin-top: 80vh;
  margin-left: 27vw;
  transition: 0.3s;
}

#budowaMostCzarodzieja:hover {
  height: 5.5vh;
  cursor: pointer;
  transition: 0.3s;
}

#budowaMostCzarodzieja:hover ~ #zasobyMostCzarodzieja {
  opacity: 100%;
  transition: 1s;
}

#zasobyMostCzarodzieja {
  height: 20vh;
  margin-top: 60vh;
  margin-lefT: 15vw;
  position: absolute;
  opacity: 0%;
}

/* 🔽 WIEŻA KAROLA 🔽 */

#karol {
  height: 7.5vh;
  position: absolute;
  margin-top: 79vh;
  margin-left: 21.5vw;
  transition: 0.3s;
  visibility: hidden;
}

#karol:hover {
  cursor: pointer;
  height: 8vh;
  transition: 0.3s;
}

/* 🔽 WIOSKA ORKÓW 🔽 */

#szynaOrk {
  height: 6vh;
  position: absolute;
  margin-top: 40vh;
  margin-left: 55vw;
  transition: 0.3s;
}

#szynaOrk:hover {
  cursor: pointer;
  height: 6.5vh;
  transition: 0.3s;
}

/* 🔽 PUSTYNIA 🔽 */

#szynaRadiacja {
  height: 6.5vh;
  position: absolute;
  margin-top: 35vh;
  margin-left: 73vw;
  transition: 0.3s;
  visibility: hidden;
}

#szynaRadiacja:hover {
  cursor: pointer;
  height: 7vh;
  transition: 0.3s;
}