body{
    background: linear-gradient(to right, rgb(0, 0, 103), rgb(14, 188, 251));
    overflow: hidden;
    font-family: Arial;
    color: white;
    text-shadow: 3px 3px 10px black;
    text-align: center;
}

hr{
    height: 0.20vw;
    border: none;
    background: white;
    border-radius: 3px;
    box-shadow: 3px 3px 10px black;
}

input{
    height: 3.5vh;
    width: 13vw;
    border: none;
    border-radius: 20px;
    font-size: 1.3vw;
    text-align: center;
    box-shadow: 3px 3px 10px black;
}

button{
    height: 3.5vh;
    width: 6vw;
    font-size: 1vw;
    border: none;
    border-radius: 20px;
    background: black;
    color: white;
}

button:hover{
    color: cyan;
    cursor: pointer;
}

#tlo{
    height: 40vh;
    width: 25vw;
    background: rgba(255, 255, 255, .5);
    z-index: -1;
    position: absolute;
    transform: translate(37.2vw, 18vh);
    border-radius: 20px;
}

#naglowek{
    transform: translateY(21.5vh);
    font-size: 2vw;
}

#hr1{
    width: 18vw;
    transform: translateY(20vh);
}

#lab1{
    font-size: 0.85vw;
    margin-right: 8.5vw;
    text-shadow: 3px 3px 10px black;
    font-weight: bold;
}

#wpisywanie{
    transform: translateY(28vh);
}

#przycisk{
    transform: translateY(32vh);
}

#zle{
    font-size: 1vw;
    color: rgb(255, 0, 0);
    font-weight: 500;
    transform: translateY(33vh);
    text-shadow: none;
}

@media screen and (max-width: 480px) {
    #tlo {
        height: 30%;
        width: 50%;
        transform: translate(46%, 70%);
    }

    #naglowek {
        font-size: 20px;
        transform: translateY(24vh);
    }

    #hr1 {
        width: 30%;
        height: 0.5vw;
        margin-top: 35px;
    }

    input {
        width: 30%;
        height: 2vh;
        font-size: 10px;
    }

    #haslo {
        transform: translateY(-7vh);
    }

    #lab1 {
        margin-top: -50px;
        font-size: 9px;
        position: absolute;
        transform: translateX(-48px);
    }

    #przycisk {
        height: 2.5vh;
        width: 20%;
        transform: translateY(25vh);
        font-size: 10px;
    }

}