body {
  background: linear-gradient(to right, blue, cyan);
  margin: 1px;
  text-shadow: 3px 3px 5px black;
  font-family: Bahnschrift;
  color: white;
  text-align: center;
}

hr {
  height: 0.2vw;
  border: none;
  background: white;
  box-shadow: 3px 3px 5px black;
}

h1 {
  font-size: 3vw;
}

.menu {
  position: fixed;
  width: 13vw;
  background: rgba(255, 255, 255, .5);
  height: 100vh;
  box-shadow: 5px 5px 10px black;
}

.przyciskMenu {
  font-size: 1.1vw;
  text-decoration: none;
  color: white;
  margin-right: 0.5vw;
}

.przyciskMenu:hover {
  text-shadow: 5px 5px 5px blue;
}

.ikonaMenu {
  height: 2vw;
  width: 2vw;
  margin-right: 0.5vw;
  transform: translateY(0.8vh);
}

#naglowek {
  height: 14.9vh;
  width: 85vw;
  background:rgba(255, 255, 255, .5);
  margin-left: 14vw;
  box-shadow: 5px 5px 10px black;
}

#galeria {
  height: 81vh;
  width: 85vw;
  background:rgba(255, 255, 255, .5);
  margin-left: 14vw;
  box-shadow: 5px 5px 10px black;
  margin-top: 1vw;
}

.zdjeciaGaleria {
  height: 20vw;
  width: 20vw;
  border: 0.2vw solid white;
  box-shadow: 5px 5px 10px black;
  margin: 5vh;
  margin-top: 12vh;
}

#licznik {
  background: rgb(65, 65, 65);
  height: 50vh;
  width: 20vw;
  margin-left: 32.5vw;
  margin-top: 7vh;
  border-radius: 20px;
}

#wynik {
  height: 6.5vh;
  width: 17vw;
  background: rgba(108, 108, 108, .6);
  transform: translate(1.5vw, 3vh);
}

#liczba {
  font-size: 3vw;
}

.przyciskiLicznik {
  margin-top: 20vh;
  height: 3vw;
  width: 3vw;
  font-size: 2vw;
  background: rgba(108, 108, 108, .6);
  border: none;
  margin-left: 2vh;
  margin-right: 2vh;
}

.przyciskiLicznik:hover {
  background: rgb(167, 167, 167);
  cursor: pointer;
}

#reset {
  background: rgba(30, 0, 255, 0.6)
}

#reset:hover {
  background: rgba(0, 217, 255, 0.6);
  cursor: pointer;
}

#login {
  background: rgba(255, 255, 255, .5);
  height: 50vh;
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vh;
  border-radius: 20px;
  animation: login 0.5s ease-out;
}

@keyframes login {
  from{
    transform: scale(1.1);
  }
  to{
    transform: scale(1);
  }
}

#loginNaglowek {
  font-size: 2.8vw;
  transform: translateY(2vh);
}

#loginLabel {
  font-size: 1vw;
  margin-right:9vw;
}

.InputLogin {
  height: 3vh;
  width: 13vw;
  background: rgba(30, 0, 255, .6);
  color: white;
  border: none;
  font-size: 1vw;
  text-shadow: 3px 3px 5px black;
  border: 0.2vh solid white;
  box-shadow: 3px 3px 5px black;
  border-radius: 20px;
  text-align: center;
}

#przyciskLogin {
  height: 3.5vh;
  width: 7vw;
  background: black;
  color: white;
  border: none;
  font-size: 0.8vw;
  border-radius: 20px;
  transition: 0.2s;
}

#przyciskLogin:hover {
  box-shadow: 3px 3px 5px rgb(30, 0, 255);
  width: 9vw;
  cursor: pointer;
  transition: 0.2s;
}

#zleHaslo {
  color: rgb(226, 93, 93);
  font-size: 1vw;
  text-shadow: 1px 1px 3px black;
}

.filmyGaleria {
  height: 50vh;
  border: 0.2vw solid white;
  box-shadow: 5px 5px 10px black;
  margin: 5vh;
  margin-top: 8vh;
}

#sociale {
  height: 65vh;
  width: 42vw;
  background:rgba(255, 255, 255, .5);
  margin-left: 14vw;
  box-shadow: 5px 5px 10px black;
  margin-top: 1vw;
  position: absolute;
}

#glosowki {
  height: 65vh;
  width: 42vw;
  background:rgba(255, 255, 255, .5);
  margin-left: 14vw;
  box-shadow: 5px 5px 10px black;
  margin-top: 1vw;
  margin-left: 57vw;
}

#avatar {
  border-radius: 100%;
  margin-top: 5vh;
  height: 25vh;
  border: 0.2vw solid white;
}

.socialeIkony {
  height: 4vw;
  margin: 1vw;
  transition: 0.2s;
}

.socialeIkony:hover {
  transform: scale(1.15);
  cursor: pointer;
  transition: 0.2s;
}

audio::-webkit-media-controls-panel {
  background: rgb(0, 157, 255);
}
