body {
  font-family: Comic Sans MS;
  background: url(Assets/ulepszenia.png);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  user-select: none;
}

h1 {
  margin: 0;
  color: white;
  text-shadow: 3px 3px 5px black;
}

/* 🔽 POWRÓT DO MAPY 🔽 */

#mapa {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  height: 13vh;
  width: 13vh;
  text-align: center;
  box-shadow: 5px 0 10px -2px black;
  bottom: 0;
  right: 0;
  margin-bottom: 8px;
  margin-right: 8px;
  transition: 0.3s;
}

#mapa:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s;
}

#mapaIkona {
  height: 3vw;
  margin-top: 2vh;
}

/* 🔽 ULEPSZENIA 🔽 */

.ulepszeniaKarty {
  height: 5vh;
  width: 5vh;
  background: rgba(0, 105, 28, 0.4);
  box-shadow: 3px 3px 5px black;
  position: absolute;
}

.ulepszeniaKarty:hover {
  cursor: pointer;
  box-shadow: 3px 3px 5px rgb(0, 119, 255);
}

.ulepszeniaIkony {
  height: 3.5vh;
  margin-left: 0.3vw;
  margin-top: 0.5vh;
}

#ulepszeniaInfo {
  height: 13vh;
  width: 92vw;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  margin-bottom: 8px;
  box-shadow: 3px 3px 5px black;
}

.ulepszeniaInfoTekst {
  font-size: 2vw;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
