body{
    background: linear-gradient(to right, rgb(0, 0, 103), rgb(14, 188, 251));
    overflow-x: hidden;
    font-family: Arial;
    color: white;
    text-shadow: 3px 3px 10px black;
    text-align: center;
    margin-left: 0;
}

hr{
    height: 0.20vw;
    border: none;
    background: white;
    border-radius: 3px;
    box-shadow: 3px 3px 10px black;
}

input{
    height: 3.5vh;
    width: 13vw;
    border: none;
    border-radius: 20px;
    font-size: 1.3vw;
    text-align: center;
    box-shadow: 3px 3px 10px black;
}

button{
    height: 5vh;
    width: 11vw;
    font-size: 1vw;
    border: none;
    border-radius: 15px;
    background: black;
    color: white;
    transition: 0.3s;
    margin-bottom: 2.5vh;
}

button:hover{
    color: cyan;
    cursor: pointer;
    transition: 0.3s;
}

#naglowek{
    font-size: 3vw;
    animation: naglowek 3s ease-in-out infinite alternate;
    margin-top: 0;
}

@keyframes naglowek {
    from{
        transform: scale(1.15);
    }
    to{
        transform: scale(1);
    }
}

img {
    height: 35vh;
    width: 35vh;
    border: 0.20vw solid white;
    border-radius: 20px;
    box-shadow: 3px 3px 10px black;
    margin-left: 4vw;
}

img:hover {
    cursor: pointer;
}

#powrot {
    width: 15vw;
    letter-spacing: 5px;
    transition: 0.3s;
}

#powrot:hover {
    width: 23vw;
    transition: 0.3s;
}