body {
  font-family: Comic Sans MS;
  background: url(/Assets/wioskaOrk贸wTo.png);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  user-select: none;
  overflow: hidden;
}

h1 {
  margin: 0;
  color: white;
  text-shadow: 3px 3px 5px black;
}

/*  POZIOM GRACZA  */

#poziomGracza {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  height: 13vh;
  width: 13vh;
  text-align: center;
  box-shadow: 5px 0 10px -2px black;
}

#poziom {
  text-align: center;
  font-size: 2.5vw;
  margin-top: 2vh;
}

#xp {
  height: 2vh;
  width: 6vw;
  border-radius: 10%; 
  box-shadow: 2px 2px 10px black;
  margin-top: 1vh;
}
#xp::-webkit-progress-bar {
  background-color: rgb(203, 203, 203);
}
#xp::-webkit-progress-value {
  background-color: rgb(0, 119, 255);

}

#lvlTekst {
  position: absolute;
  color: rgb(0, 119, 255);
  left: 0;
  right: 0;
}

@media (max-width: 1920px){
  #lvlTekst {
    font-size: 1.2vw;
  }
}

/*  PROFIL GRACZA  */

#profilGracza {
  height: 5vh;
  width: 13vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  margin-bottom: 8px;
  box-shadow: 5px 5px 10px black;
}

#nazwaU偶ytkownika {
  font-size: 1.4vw;
  text-align: center;
  margin-top: 0.5vh;
  margin-left: 3vw;
}

#nazwaU偶ytkownika:hover {
  color:rgb(0, 119, 255);
  cursor: pointer;
}

#rozwi {
  position: absolute;
  font-size: 1.5vw;
  border-right: 0.2vw solid white;
  padding-right: 5%;
  padding-left: 5%;
  line-height: 3vh;
  transform: translateY(-2vw);
  padding-bottom: 1vw;
  margin-top: 3.9vh;
}

@media (max-width: 1920px){
  #rozwi {
    line-height: 2.8vh;
    transform: translateY(-1.9vw);
  }
}

#rozwi:hover {
  color: rgb(0, 119, 255);
  cursor: pointer;
}

/*  EKWIPUNEK  */

#ekwipunek {
  background: rgba(0, 0, 0, 0.5);
  height: 12vh;
  width: 13vw;
  position: fixed;
  bottom: 0;
  margin-bottom: 5.9vh;
  box-shadow: 5px 0 10px -1px black;
  visibility: hidden;
}

@media (max-width: 1920px){
  #ekwipunek {
    height: 14.5vh;
  }

  #mediaZoto {
   transform: translateY(0.8vh); 
  }
}

#plecak:hover {
  cursor: pointer;
}

#plecakDiv {
  height: 40vh;
  width: 30vw;
  background:rgba(0, 0, 0, 0.7);
  box-shadow: 3px 3px 5px black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  visibility: hidden;
}

.plecakTekst {
  position: relative;
  text-align: center;
  margin-top: -2.45vw;
  margin-left: 2vw;
}

@media (max-width: 1920px) {
  .plecakTekst {
    margin-top: -2.7vw;
    font-size: 1.5vw;
  }

  #drewno {
    transform: translateY(-0.5vh);
  }

  #zom {
    transform: translateY(-0.5vh);
  }
}

.plecakIkony {
  height: 5vh;
}

.zasobyIkony {
  height: 5vh;
  width: 18vh;
  background: royalblue;
  opacity: 0.8;
  margin-left: 8px;
  box-shadow: 3px 3px 5px black;
  position: absolute;
}

/*  POWRT DO MAPY  */

#mapa {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  height: 13vh;
  width: 13vh;
  text-align: center;
  box-shadow: 5px 0 10px -2px black;
  bottom: 0;
  right: 0;
  margin-bottom: 8px;
  margin-right: 8px;
  transition: 0.3s;
}

#mapa:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s;
}

#mapaIkona {
  height: 3vw;
  margin-top: 2vh;
}

/*  CRAFTING SCHEMATW  */

#craftingSchemat贸w {
  background: rgba(0, 0, 0, 0.5);
  height: 60vh;
  width: 25vw;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 3px 3px 5px black;
}

.craftingSchemat贸wZdjcia {
  height: 25vh;
  margin-left: 8vw;
  margin-top: 5vh;
}

.craftingSchemat贸wPrzyciski {
  height: 5vh;
  width: 10vw;
  font-family: Comic Sans MS;
  background:rgb(0, 119, 255);
  font-size: 0.8vw;
  text-shadow: 3px 3px 5px black;
  color: white;
  border-radius: 2vw;
  margin-left: 7.15vw;
  margin-top: 5vh;
  box-shadow: 3px 3px 5px black;
  transition: 0.3s;
  transition: visibility 0s linear
}

.craftingSchemat贸wPrzyciski:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
} 

.nawigacjaPrzyciski {
  height: 1vh;
  width: 2vw;
  background: gray;
  box-shadow: 3px 3px 5px black;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50vh;
  position: absolute;
}

.nawigacjaPrzyciski:hover {
  cursor: pointer;
}

#jeden {
  background: white;
}

.zasoby {
  margin-left: 62vw;
  margin-top: 25vh;
  height: 45vh;
  position: absolute;
}

#zasobyTekst {
  position: absolute;
  margin-left: 65vw;
  margin-top: 20vh;
  font-size: 2vw;
}

/* OM */

#craftingom {
  visibility: hidden;
  position: absolute;
}

#zasobyom {
  visibility: hidden;
}

/* MASKA GAZOWA */

#craftingMaskaGazowa {
  position: absolute;
}
